body {
background-color: #FEF4F6;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;

}


footer {
  
  width: 100%;
  border: solid 5px black;
  background-color: white; 
}
ul{
    border:black 5px solid;
    background-color: white; 
}

ul li{   display: inline-flex;
    flex-direction: row;
    padding-right: 7%;
    padding-left: 7%;
    font-family: 'Hind Siliguri', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
}

hr {
  border: solid 5px #9a98cc;
  color: #9a98cc;
  width: 25%;

}
  .footertext{
    margin: 1%;
    
  }
#UXCS{
  padding:20px;
}

.navBar li {
  
    list-style-type : none;
    text-align: center;
    
}

li a:hover:not(.active) {
    background-color: #83e5d6;
    color: white;
  }
  
  .active {
    background-color: #65D866;
  
  }

  li a {
    padding: 10px 14px;
    text-decoration: none;
  }

  h1 {
    font-family: 'Roboto Mono', monospace;
    
  }

  .intro{
    text-align: center;
  }


.box {
border: 5px solid black;
background-color: white; 
height: 300px;
width: 25%;
  }

  .yellowbar{
    background-color: #F9E450;
    margin: auto;
    text-align: right;
    font-size: 24px;
    padding-right: 25px;
  }

  .boxrow1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;

  }

  .boximg {
    width:100%; 
    height:250px;
    
  }

  .box:hover {
    box-shadow: 10px 10px rgb(12, 13, 66);
    transition-delay: .4s;
  }

