.navBar li {
  
    list-style-type : none;
    text-align: center;
    
}



li a:hover:not(.active) {
    background-color: #83e5d6;
    color: white;
  }
  
  .active {
    background-color: #65D866;
  
  }
.color {
  background-color: #27AAFF;
}
  li a {
    padding: 10px 14px;
    text-decoration: none;
  }

  h1 {
    font-family: 'Roboto Mono', monospace;
    
  }

  .intro{
    text-align: center;
  }

  header{
    background-color: black;
    width: 100%;
}
ul{
    border:black 5px solid;
    background-color: white; 
}

.box {
    border: 5px solid black;
    background-color: white; 
    height: 200px;
    width: 80%;
      }